<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>WoR Sheet</title>
  </head>
  <body>
    <div id="full-sheet"
    {% include "sheet.html.njk" %}
    </div>

    <style>
     {% include "style.css" %}
    </style>

    <script type="text/worker">
     wor = {state: 'full'};
     {% include "worker.bundle.js" %}
    </script>

    <script>
     wor = {state: 'full'};

     // Assigns globalWorker to the last worker script.
     document.querySelectorAll("script").forEach(function(item) {
       if (item.type === "text/worker") {
         var blob = new Blob([item.textContent], { type: "text/javascript" });
         globalWorker = new Worker(window.URL.createObjectURL(blob));
       }
     });

    </script>

    <script>
     {% include "app.bundle.js" %}
    </script>

  </body>
</html>
