{# Maybe port these out at some point? #}

{% macro abilityTemplate(abbreviation, name) %}
    
<a href="https://www.google.com" class="rollButton ability1st">

</a>
<div class="abilityTitlecard ability2nd">
    <div class="abilityName">
      {{ name }}
    </div>
    
    <div class="abilityAbbrev">
      {{ abbreviation }}
    </div>
</div>

<input class="totAbilityScore ability3rd" type="text" name="totAbilityScore{{ name }}">
<input class="abilityMod ability4th" type="text" name="abilityMod{{ name }}">
<input class="abilityBase ability5th" type="text" name="abilityBase{{ name }}">
<input class="tempAbilityScore ability6th" type="text" name="tempAbilityScore{{ name }}">    
{% endmacro %}



{# End macro section #}

<div id="full-sheet">
	<div id="header-fields">
		<label>Character Name<input type="text" name="Character Name"></label>
		<label>Class and Level<input type="text" name="Class and Level"></label>
		<label>Race<input type="text" name="Race"></label>
		<label>Movement<input type="text" name="Movement"></label>
		<label>Age<input type="text" name="Age"></label>
		<label>Gender<input type="text" name="Gender"></label>
		<label>Height<input type="text" name="Height"></label>
		<label>Weight<input type="text" name="Weight"></label>
		<label>Eyes<input type="text" name="Eyes"></label>
		<label>Hair<input type="text" name="Hair"></label>
		<label>Skin<input type="text" name="Skin"></label>
	</div>

	<div id="portrait">
		Portrait goes here
	</div>

	<div id="abilities" class="header-table">

		<h3> ABILITIES </h3></br>

		<div id="abilityTitleName ability2nd">
			AbilityName
		</div>
		<div id="abilityTitleTotal ability3rd">
			Total Score
		</div>
		<div id="abilityTitleMod ability4th">
			Mod.
		</div>
		<div id="abilityTitleBase ability5th">
			Base Score
		</div>
		<div id="abilityTitleTemp ability6th">
			Temp Mod.
		</div>

		{% set abilities = [["STR","Strength"],["DEX","Dexterity"],["CON","Constitution"],["INT","Intelligence"],["WIS","Wisdom"],["CHA","Charisma"]] %}

		{% for ability in abilities %}
		{{ abilityTemplate(ability[0], ability[1])}}
		{% endfor %}
	</div>

	<div id="conditions">

		<h3>CONDITIONS</h3></br>

		{# All checkboxes are the same class. Pick left or right side for all boxes #}
		<input type="checkbox" name="fatiguedCondition">
			Fatigued
			{# Again, some way of adding description/header. Or just a <h3> etc tag? #}

		<input type="checkbox" name="exhaustedCondition">
			Exhausted

		<input type="checkbox" name="bloodiedCondition">
			Bloodied
		
		<input type="checkbox" name="woundedCondition">
			Wounded

		Encumbrance:<input type="text" name="encumbranceCondition">

	</div>

	<div id="skills" class="header-table">

		<h3>SKILLS</h3></br>

		{% set skills = ["Acrobatics","Appraise","Bluff","Climb","Concentration","Decipher Script","Diplomacy","Disguise","Escape Artist","Fly","Forgery","Gather Information","Handle Animal","Heal","Intimidate","Perception","Ride","Search","Sense Motive","Sleight of Hand","Spellcraft","Stealth","Survival","Swim","Tamper"] %}

		{% for skill in skills %}
		<a href="https://www.google.com" class="rollButton"></a>
		<div class="skill">
			{{skill}}
		</div>
		<input type="text" name="skill-{{skill}}">
		{% endfor %}
	</div>

	<div id="languages" class="header-table">
		<h3>LANGUAGES</h3></br>
		<input type="text" name="languages">
	</div>

	<div id="hit-points">
		<h3>HIT POINTS</h3></br>
		<div class="top-box" id="totalhp">
			Hit Points
		</div>

		<div class="top-box" id="damage">
			DMG Taken
		</div>

		<div class="top-box" id="wounds-scars">
			Wounds and Scars
		</div>

		<div class="side-box" id="bloodied-at">
			Bloodied at:
			{# Should have something for below-box too... #}
		</div>

		<div class="side-box" id="wounded-at">
			Wounded at:
			{# Should have something for below-box too... #}
		</div>

		<div id="death-saves">
			XXXX
			XXX
		</div>

		<div class="side-box" id="recovery-dice">
			Recovery Dice:			
		</div>

		<div class="side-box" id="recovery-dice-used">
			Used:
		</div>

	</div>

	<div id="armor">

		<h3>ARMOR CLASS</h3></br>

		<div id="armor-header">
			{# Maybe I need a better way of doing these plus-box-type-things #}
		</div>

		<div id="armor-box" class="armor-box topbar-table">
			Armor
		</div>

		<div id="shield-box" class="armor-box topbar-table">
			Shield
		</div>


	</div>

	<div id="saving-throws">

		<h3>SAVING THROWS</h3></br>

		<div id="saves-header">

		</div>

		{% set saves = ["Charm","Reflex","Death","Fear","Spell"] %}

		{% for save in saves %}
		<div class="save">
			{{save}}
		</div>
		{% endfor %}

		<div id="conditional-mods">

		</div>

	</div>

	<div id="special-abilities">

		<h3>SPECIAL ABILITIES</h3></br>

		{# Do something cool here. Like feats. But what? #}

	</div>

	<div id="attacks">

		<h3> ATTACKS </h3></br>

		<div id="attacks-header">
			<div id="bcb" class="side-box">
				BCB
			</div>

			<div id="grapple">
				<div class="side-box">
				Grapple Modifier
				</div>

				= 

				<div class="square-box">
				</div>
				+
				<div class="square-box">
				</div>
				+
				<div class="square-box">
				</div>
			</div>

			<div class="side-box">
				Melee Attack
			</div>

			<div class="side-box">
				Ranged Attack
			</div>
		</div>

		{% for i in range(1,3) %}

		<div id="attacks-{{i}}" class="attack-box topbar-table">
			{# TODO #}
		</div>

		{% endfor %}
	</div>

	<div id="feats">
		<h3>FEATS</h3></br>
		{# Do something nice here. But may have to be just a js thing? #}
	</div>


</div>
