<# Maybe port these out at some point? #>

<% macro abilityTemplate(abbreviation, name) %>
    

<button type='roll' value='\&{template:default} {{name=Roll <$ abbreviation $> Check}} {{<$ abbreviation $>=[[1d20 + [[@{<$ abbreviation $>Mod}]]]]}}' name='roll_<$ name $>' class='ability1st rollButton'></button>

<div class="abilityTitlecard ability2nd">
    <div class="abilityName">
      <$ name $>
    </div>
    
    <div class="abilityAbbrev">
      <$ abbreviation $>
    </div>
</div>

<input class="totAbilityScore ability3rd" type="number" name="attr_<$ name $>" value="@{Base<$ name $>} + @{temp<$ name $>} - 2 * @{fatiguedCondition} - 2 * @{exhaustedCondition}" disabled='true'/>
<input class="abilityMod ability4th" type="number" name="attr_<$ abbreviation $>Mod" value="floor((@{<$ name $>}-10)/2)" disabled="true"/>
<input class="abilityBase ability5th" type="number" name="attr_Base<$ name $>" value="10"/>
<input class="tempAbilityScore ability6th" type="number" name="attr_temp<$ name $>" value='0'/>    
<% endmacro %>

<% macro saveTemplate(name) %>
    
<button type='roll' value='\&{template:default} {{name=Roll <$ name $> Save}} {{<$ abbreviation $>=[[1d20 + [[@{save<$ name $>}]]]]}}' name='roll_save<$ name $>' class='save1st rollButton'></button>

<div class="saveTitlecard save2nd">
    <$ name $>
</div>

<# Listen, I didn't ask for your opinion. It's 4 AM and there's no good way to do this #>
<% if name=="Charm" %>
<% set value = "(((@{ChaMod} + @{WisMod}) + abs(@{ChaMod} - @{WisMod})) / 2)" %>
<% elif name=="Reflex" %>
<% set value = "@{DexMod}" %>
<% else %>
<% set value = 0 %>
<% endif %>

<input class="totSaveScore save3rd" type="number" name="attr_Save<$ name $>" value="0">
<input class="saveBase save4th" type="number" name="attr_save<$ name $>Base">
<input class="saveMod save5th" type="number" name="attr_save<$ name $>Mod" value="<$ value $>" disabled="true">
<input class="miscMod save6th" type="number" name="attr_miscSaveMod<$ name $>">    
<% endmacro %>



<# End macro section #>

<div class="full-sheet">
	<div class="page-main">
		<div class="header-fields">
			<label class="charName">Character Name<input type="text" name="attr_character_name" /></label>
			<label class="classLevel">Class and Level<input type="text" name="attr_class_lvl" /></label>
			<label class="race">Race<input type="text" name="attr_race" /></label>
			<label class="movement">Movement<input type="text" name="attr_movement" /></label>
			<label class="age">Age<input type="text" name="attr_age"></label>
			<label class="gender">Gender<input type="text" name="attr_gender" /></label>
			<label class="height">Height<input type="text" name="attr_height" /></label>
			<label class="weight">Weight<input type="text" name="attr_weight" /></label>
			<label class="eyes">Eyes<input type="text" name="attr_eyes" /></label>
			<label class="hair">Hair<input type="text" name="attr_hair" /></label>
			<label class="skin">Skin<input type="text" name="attr_skin" /></label>
		</div>

		<div class="portrait">
			<input type="file" name="attr_portrait" accept="image/png image/jpg"/>
		</div>

		<div class="abilities header-table">

			<div class="sectionHeader"> ABILITIES </div></br>

			<div class="abilityTitleName ability2nd">
				Ability Name
			</div>
			<div class="abilityTitleTotal ability3rd">
				Total Score
			</div>
			<div class="abilityTitleMod ability4th">
				Mod.
			</div>
			<div class="abilityTitleBase ability5th">
				Base Score
			</div>
			<div class="abilityTitleTemp ability6th">
				Temp Mod.
			</div>

			<% set abilities = [["STR","Strength"],["DEX","Dexterity"],["CON","Constitution"],["INT","Intelligence"],["WIS","Wisdom"],["CHA","Charisma"]] %>

			<% for ability in abilities %>
			<$ abilityTemplate(ability[0], ability[1])$>
			<% endfor %>
		</div>

		<div class="conditions">

			<div class="sectionHeader">CONDITIONS</div>


			<div class="fatiguedConditionBox">
					<input type="checkbox" name="attr_fatiguedCondition" value='1'>
					Fatigued
				<label class="belowLabel">
						-2 to all abilities, -5 to speed
				</label>
			</div>

			<div class="exhaustedConditionBox">
				<input type="checkbox" name="attr_exhaustedCondition" value='1'>
					Exhausted
				<label class="belowLabel">
						Additional -2 to all abilities, can't run or charge
				</label>
			</div>

			<div class="encumbranceConditionBox">
				Encumbrance:
					<select name="attr_encumbranceCondition">
						<option value="light"> Light </option>
						<option value="medium"> Medium </option>
						<option value="heavy"> Heavy </option>
					</select>
			</div>

			<div class="bloodiedConditionBox">
				<input type="checkbox" name="attr_bloodiedCondition" value='1'>
					Bloodied
				<label class="belowLabel">
						-1 on attacks and checks, including initiative
				</label>
			</div>

			<div class="woundedConditionBox">
				<input type="checkbox" name="attr_woundedCondition" value='1'>
					Wounded
				<label class="belowLabel">
						Further -1 on attacks and checks, including initiative
				</label>
			</div>

		</div>

		<div class="skills header-table">

			<div class="sectionHeader">SKILLS</div>

			<% set skills = ["Acrobatics","Appraise","Bluff","Climb","Concentration","Decipher Script","Diplomacy","Disguise","Escape Artist","Fly","Forgery","Gather Information","Handle Animal","Heal","Intimidate","Perception","Ride","Search","Sense Motive","Sleight of Hand","Spellcraft","Stealth","Survival","Swim","Tamper"] %>

			<% for skill in skills %>
			<button type='roll' value='\&{template:default} {{name=<$ skill $> Check}} {{<$ skill $>=[[1d20 + [[@{skill_<$ skill $>}]]]]}}' name='roll_skill<$ skill $>' class='rollButton'></button>
			<div class="skill">
				<$ skill $>
			</div>
			<input type="number" value="0" name="attr_skill_<$ skill $>">
			<% endfor %>
		</div>

		<div class="languages header-table">
			<div class="sectionHeader">LANGUAGES</div>
			<textarea name="attr_languages"></textarea>
		</div>

		<div class="hit-points">
			<div class="sectionHeader">HIT POINTS</div>

			<div class="top-box totalhp">
				<label>Hit Points</label>
				<input type="number" name="attr_totalHP"/>
			</div>

			<div class="top-box damage">
				<label>Damage Taken</label>
				<input type="number" name="attr_dmg"/>
			</div>

			<div class="top-box wounds-scars">
				<label>Wounds & Scars</label>
				<textarea name="attr_wounds-scars"></textarea>
			</div>

			<div class="side-box bloodied-at">
				<label>Bloodied at:</label>
				<input type="number" name="attr_bloodied-val" value="ceil(@{totalHP}/2)" disabled="true" />
				<label>(-1 on attacks and checks)</label>
			</div>

			<div class="side-box wounded-at">
				<label>Wounded at:</label>
				<input type="number" name="attr_wounded-val" value="ceil(3 * @{totalHP}/4)" disabled="true" />
				<label>(Further -1 on attacks and checks)</label>
			</div>

			<div class="death-saves">
				<label class="death-saves-label">Death saves</label>
				<label class="ds-passes">Pass</label>
				<label class="ds-fails">Fail</label>
				<input type="checkbox" name="attr_ds-fail-1" class="ds-fails" value='1'>
				<input type="checkbox" name="attr_ds-fail-2" class="ds-fails" value='1'>
				<input type="checkbox" name="attr_ds-fail-3" class="ds-fails" value='1'>
				<input type="checkbox" name="attr_ds-fail-4" class="ds-fails" value='1'>
				<input type="checkbox" name="attr_ds-pass-1" class="ds-passes" value='1'>
				<input type="checkbox" name="attr_ds-pass-2" class="ds-passes" value='1'>
				<input type="checkbox" name="attr_ds-pass-3" class="ds-passes" value='1'>
			</div>

			<div class="side-box recovery-dice">
				<label>Recovery Dice:</label>
				<input type="text" name="attr_recovery-dice"/>			
			</div>

			<div class="side-box recovery-dice-used">
				<label>Recovery Dice Used:</label>
				<input type="number" name="attr_recovery-dice-used"/>		
			</div>

		</div>

		<div class="armor">

			<div class="sectionHeader">ARMOR CLASS</div>

			<div class="total-armor addition-wrapper">
				<label>Total<input type="number" name="attr_totalAC" /></label>
				<div class="plus-label"> = 10 + </div>
				<label>Dex Mod<input type="number" name="attr_AC-Dex-Mod" value="@{DexMod}" disabled="true" /></label>
				<div class="plus-label">+</div>
				<label>Armor<input type="number" name="attr_AC-Armor" /></label>
				<div class="plus-label">+</div>
				<label>Shield<input type="number" name="attr_AC-Shield" /></label>
				<div class="plus-label">+</div>
				<label>Misc<input type="number" name="attr_AC-Misc" /></label>
				<div class="plus-label">+</div>
				<label>Cover<input type="number" name="attr_AC-Cover" /></label>
				<# Maybe I need a better way of doing these plus-box-type-things #>
			</div>

			<div class="top-box touch-AC">
				<label>Touch AC</label>
				<label>(No armor/shield bonus)</label>
				<input type="number" name="attr_touch-AC"/>
			</div>

			<div class="top-box off-guard-AC">
				<label>Off-Guard AC</label>
				<label>(No Dex bonus)</label>
				<input type="number" name="attr_off-guard-AC"/>
			</div>

			<div class="special-defenses">
				<textarea type="number" name="attr_special-defenses" placeholder="Special Defenses"></textarea>
			</div>

			<div class="armor-box topbar-table">
				<label>Armor<input type="text" name="attr_armor" /></label>
				<label>Check Pen.<input type="number" name="attr_armor-check-pen" /></label>
				<label>AC Bonus<input type="number" name="attr_armor-AC-bonux" /></label>
				<label>Max Dex<input type="number" name="attr_armor-max-dex" /></label>
				<label>Spell Fail<input type="text" name="attr_armor-spell-fail" /></label>
				<label>Speed<input type="text" name="attr_armor-max-speed" /></label>
				<label>Weight<input type="text" name="attr_armor-weight" /></label>
				<label>Special<input type="text" name="attr_armor-special" /></label>
			</div>

			<div class="armor-box topbar-table">
				<label>Shield<input type="text" name="attr_shield" /></label>
				<label>Check Pen.<input type="number" name="attr_shield-check-pen" /></label>
				<label>AC Bonus<input type="number" name="attr_shield-AC-bonux" /></label>
				<label>Max Dex<input type="number" name="attr_shield-max-dex" /></label>
				<label>Spell Fail<input type="text" name="attr_shield-spell-fail" /></label>
				<label>Speed<input type="text" name="attr_shield-max-speed" /></label>
				<label>Weight<input type="text" name="attr_shield-weight" /></label>
				<label>Special<input type="text" name="attr_shield-special" /></label>
			</div>


		</div>

		<div class="saving-throws">

			<div class="sectionHeader">SAVING THROWS</div></br>

			<label class="save2nd">Save Name</label>
			<label class="save3rd">Total</label>
			<label class="save4th">Base Save</label>
			<label class="save5th">Ability Mod</label>
			<label class="save6th">Misc Mod</label>

			<% set saves = ["Charm","Reflex","Death","Fear","Spell"] %>

			<% for save in saves %>
			<$ saveTemplate(save) $>
			<% endfor %>

			<div class="conditional-save-mods">
				<textarea type="text" name="attr_conditionalSaveMods" placeholder="Conditional Save Mods"></textarea>
			</div>

		</div>

		<div class="special-abilities">

			<div class="sectionHeader">SPECIAL ABILITIES</div>

			<textarea name="attr_special-abilities"></textarea>

			<# Do something cool here. Like feats. But what? #>

		</div>

		<div class="attacks">

			<div class="sectionHeader"> ATTACKS </div>

			<div class="bcb side-box">
				<label>BCB</label>
				<input type="number" name="attr_bcb"/>
				<label>(Base Combat Bonus)</label>
			</div>

			<div class="grapple">

				<div class="grapple-calc addition-wrapper">
					<label>Grapple</label>
					<label>Total<input type="number" name="attr_grapple-total" /></label>
					<div class="plus-label">=</div>
					<label>BCB<input type="number" name="attr_grapple-bcb" value="@{bcb}" disabled="true" /></label>
					<div class="plus-label">+</div>
					<label>STR<input type="number" name="attr_str-bcb" value="@{StrMod}" disabled="true" /></label>
					<div class="plus-label">+</div>
					<label>Misc<input type="number" name="attr_misc-bcb" /></label>
					<# Maybe I need a better way of doing these plus-box-type-things #>
				</div>
			</div>

			<input type="hidden" name="attr_initiative" value="@{bcb} + @{DexMod}" disabled="true"/>


			<div class="melee-attack">
				<div class="side-box">
					<label>Melee Atk</label>
					<input type="number" name="attr_melee-atk"/>		
				</div>
			</div>

			<div class="ranged-attack">
				<div class="side-box">
					<label>Ranged Atk</label>
					<input type="number" name="attr_ranged-atk"/>		
				</div>
			</div>

			<div class="initiative">
				<div class="side-box">
					<label>Initiative</label>
					<input type="number" name="attr_wounded-val"/>				
				</div>
			</div>

			<div class="repeating-attacks">
				<fieldset class="repeating_attacks">
					<div class="attack-box topbar-table">
						<label>Attack<input type="text" name="attr_attack-name" /></label>
						<label>Atk Bonus<input type="number" value='0' name="attr_attack-bonus" /></label>
						<label>Damage<input type="number"  value='0' name="attr_attack-damage" /></label>
						<select name="attr_attack-damage-die">
							<option value="d4"> D4 </option>
							<option value="d6"> D6 </option>
							<option value="d8"> D8 </option>
							<option value="d10"> D10 </option>
							<option value="d12"> D12 </option>
							<option value="d0"> None </option>
						</select>
						<label>Type<input type="text" name="attr_attack-type" /></label>
						<label>Range<input type="text" name="attr_attack-range" /></label>
						<label>Notes<textarea name="attr_attack-notes"></textarea></label>
						<button type='roll' value='\&{template:attack} {{name=@{attack-name}}} {{type=@{attack-type}}} {{attack=[[1d20 + [[@{attack-bonus}]]]]}} {{damage=[[1@{attack-damage-die} + [[@{attack-damage}]]]]}}' name='roll_attack' class='rollButton'></button>

					</div>
				</fieldset>
			</div>
		</div>

		<div class="feats">
			<div class="sectionHeader">FEATS</div>
			<textarea name="attr_feats"></textarea>
			<# Do something nice here. But may have to be just a js thing? Or whatever the click-button-to-extend thing is #>
		</div>
	</div>

	<div class="page-notes">
		<div class="header-table">
			<div class="sectionHeader">NOTES</div>
			<textarea name="attr_notes"></textarea>
		</div>
	</div>

</div>


<!-- ROLL TEMPLATES -->
<rolltemplate class="sheet-rolltemplate-attack">
    <div class="container">
        <div><h1>{{name}}</h1></div>
        <div><span class="subheader">{{type}}</span></div>
        <div class="arrow-container"><div class="arrow-right"></div></div>
        <div class="rowcolor"><span class="tcat">Attack: </span>{{attack}} vs AC</div>
        {{#damage}}
            <div>
                 <span class="tcat">Damage: </span>{{damage}} 
            </div>
        {{/damage}}
    </div>
</rolltemplate>
