@import 'partial';

#container {
  width: 50%;
  margin: 0 auto;
}

div {
	display: block;
}

.rollbutton {
  max-width: 15px;
  max-height: 15px;
}

#full-sheet {

	// All grid layout thanks to https://grid.layoutit.com/ after I spent way too long trying to get it to work

  display: grid;
  grid-template-columns: 1.35fr 0.83fr 0.7fr 1.2fr;
  grid-template-rows: 0.7fr 0.8fr 1fr 0.6fr 0.6fr 2.4fr 1.2fr 0.4fr 1.4fr;
  grid-template-areas: "Header Header Header Portrait" "Abilities Skills Languages Portrait" "Abilities Skills Hit-Points Hit-Points" "Conditions Skills Hit-Points Hit-Points" "Conditions Skills Armor-Class Armor-Class" "Attacks Attacks Armor-Class Armor-Class" "Attacks Attacks Saving-Throws Saving-Throws" "Feats Feats Saving-Throws Saving-Throws" "Feats Feats Special-Abilities Special-Abilities";
  max-height:200vh;
  max-width:100vh;
  min-width:920px;
  min-height:1840px;
}

#full-sheet > div, #leftWrapper > div, #rightWrapper > div {
	border: 2px dashed black;
	margin: 2px;
	overflow: auto;
}
//

#header-fields {
	grid-area: Header;
	display:flex;
	flex-wrap:wrap
}

#header-fields > label > input {
	display:inline-block;
	width: 100%;
	position:relative;
	top: -3em;
}

#header-fields > label {
	display:inline-block;
	padding-top:1.5em;
  margin-right:5px;
}

#header-fields > #charName, #header-fields > #classLevel {
  flex-basis:36%;
}

#header-fields > #race, #header-fields > #movement {
  flex-basis:12%;
}

#header-fields > #age, #header-fields > #gender, #header-fields > #height, #header-fields > #weight, #header-fields > #eyes, #header-fields > #hair, #header-fields > #skin {
  flex-basis: 13.5%;
}

#portrait {
	grid-area: Portrait;
	padding-top:100%;
}

#abilities {
  display: grid;
  grid-template-columns: minmax(0,0.6fr) [Ability-Name] minmax(0,0.8fr) [Total-Score] minmax(0,0.8fr) [Mod] minmax(0,1.8fr) [Base-Score] minmax(0,1fr) [Temp-Mod] minmax(0,1fr);
  grid-template-rows: minmax(0, .75fr) .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-area: Abilities;
}

#skills {
  display: grid;
  grid-template-columns: minmax(0,0.5fr) [Name] minmax(0,1.5fr) [Value] minmax(0,1fr);
  grid-template-rows: 2.1em;
	grid-area: Skills;
}

#skills > .skill {
  font-size: .8em;
  align-self: center;
}

#languages {
	grid-area: Languages;
	display: grid;
	align-items: stretch;
	grid-template-columns: minmax(0,1fr);
	grid-template-rows: 2em 1fr;
}

#languages > .sectionHeader {
	grid-row-start: 1;
}

#languages > input {
	grid-row-start: 2;
}

#hit-points {
  display: grid;
  grid-template-columns: minmax(0,0.6fr) minmax(0,0.6fr) minmax(0,1.1fr) minmax(0,1.7fr);
  grid-template-rows: minmax(0,1fr) 0.6fr 1fr 1fr 1.4fr;
  grid-template-areas: ". DMG Wounds-Scars Wounds-Scars" "Bloodied Bloodied Wounds-Scars Wounds-Scars" "Wounded Wounded Death-Saves Death-Saves" "Wounded Wounded Recovery-Dice RD-Used";
  grid-area: Hit-Points;
}

#conditions {
	grid-area: Conditions;
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr);
  grid-auto-flow:column; 
}

#fatiguedConditionBox, #exhaustedConditionBox {
  grid-column-start:1;
  grid-column-end:2;
}

#bloodiedConditionBox, #woundedConditionBox, #encumbranceConditionBox {
  grid-column-start:2;
  grid-column-end:3;
}

#attacks {
	grid-area: Attacks;
}

#armor {
	grid-area: Armor-Class;
}

#feats {
	grid-area: Feats;
}

#saving-throws {
  display: grid;
  grid-template-columns: minmax(0,0.4fr) [Name] minmax(0,0.4fr) [Tot] minmax(0,0.7fr) [Base] minmax(0,1.1fr) [Ability] minmax(0,2.4fr) [Misc] minmax(0,1fr) minmax(0,1fr);
  grid-template-rows: minmax(0,1fr) 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods";
  grid-area: Saving-Throws;
}

#special-abilities {
	grid-area: Special-Abilities;
}

.totAbilityScore, .abilityMod, .abilityBase, .tempAbilityScore {
	width: 100%;
	height: 100%;
}

.ability1st {grid-column-start: 1}
.ability2nd {grid-column-start: Ability-Name}
.ability3rd {grid-column-start: Total-Score}
.ability4th {grid-column-start: Mod}
.ability5th {grid-column-start: Base-Score}
.ability6th {grid-column-start: Temp-Mod}

.skill {
	grid-column-start:Name;
}

.skills > input {
	grid-column-start:Value;
}

.sectionHeader {
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: black;
    color: white;
    height: fit-content;
    font-size: 1.5em;
    padding-bottom: 5px;
}
