@import 'partial';

.sheet-container {
  width: 50%;
  margin: 0 auto;
}

input, textarea {
  width:initial;
  padding:0px;
  height:auto;
  margin-bottom:0px;
}

textarea {resize:none}

div {
	display: block;
}

.sheet-rollbutton {
  max-width: 15px;
  max-height: 15px;
}

.sheet-full-sheet {

  margin-top:25px;

	// All grid layout thanks to https://grid.layoutit.com/ after I spent way too long trying to get it to work

  display: grid;
  grid-template-columns: 1.35fr 0.83fr 0.7fr 1.2fr;
  // grid-template-rows: 0.7fr 0.8fr 1fr 0.6fr 0.6fr 2.4fr 1.2fr 0.4fr 1.4fr;
  grid-template-areas: "Header Header Header Portrait" "Abilities Skills Languages Portrait" "Abilities Skills Hit-Points Hit-Points" "Conditions Skills Hit-Points Hit-Points" "Conditions Skills Armor-Class Armor-Class" "Attacks Attacks Armor-Class Armor-Class" "Attacks Attacks Saving-Throws Saving-Throws" "Feats Feats Saving-Throws Saving-Throws" "Feats Feats Special-Abilities Special-Abilities";
  max-height:200vh;
  max-width:100vh;
  min-width:800px;
  min-height:1600px;
}

.sheet-full-sheet > div, .sheet-leftWrapper > div, .sheet-rightWrapper > div {
	//border: 2px dashed black;
	margin: 2px;
}
//

.sheet-header-fields {
	grid-area: Header;
	display:flex;
	flex-wrap:wrap;
}

.sheet-header-fields > label > input {
	display:inline-block;
	width: 100%;
	position:relative;
	top: -3em;
}

.sheet-header-fields > label {
	display:inline-block;
	padding-top:1.5em;
  margin-right:5px;
}

.sheet-header-fields > .sheet-charName, .sheet-header-fields > .sheet-classLevel {
  flex-basis:32%;
  flex-grow:1;
}

.sheet-header-fields > .sheet-race, .sheet-header-fields > .sheet-movement {
  flex-basis:11%;
  flex-grow:1;
}

.sheet-header-fields > .sheet-age, .sheet-header-fields > .sheet-gender, .sheet-header-fields > .sheet-height, .sheet-header-fields > .sheet-weight, .sheet-header-fields > .sheet-eyes, .sheet-header-fields > .sheet-hair, .sheet-header-fields > .sheet-skin {
  flex-basis: 10%;
  flex-grow:1;
}

.sheet-portrait {
	grid-area: Portrait;
}

.sheet-abilities{
  display: grid;
  grid-template-columns: minmax(0,0.6fr) [Ability-Name] minmax(0,0.8fr) [Total-Score] minmax(0,0.8fr) [Mod] minmax(0,0.8fr) [Base-Score] minmax(0,.8fr) [Temp-Mod] minmax(0,.8fr);
  grid-template-rows: minmax(0,2.5em) .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-area: Abilities;
}

.sheet-skills {
  display: grid;
  grid-template-columns: minmax(0,0.5fr) [Name] minmax(0,1.5fr) [Value] minmax(0,1fr);
  grid-template-rows: minmax(0,2.5em);
	grid-area: Skills;
}

.sheet-skills > .sheet-skill {
  font-size: .8em;
  align-self: center;
}

.sheet-languages {
	grid-area: Languages;
  min-height: 5em;
	display: grid;
	align-items: stretch;
	grid-template-rows: minmax(0,2.3em) 1fr;
}

.sheet-languages > .sheet-sectionHeader {
	grid-row-start: 1;
}

.sheet-languages > textarea {	grid-row-start: 2}

.sheet-hit-points {
  display: grid;
  grid-template-columns: minmax(0,0.6fr) minmax(0,0.6fr) minmax(0,1.1fr) minmax(0,1.7fr);
  grid-template-rows: 2.1em minmax(0,1fr) 0.6fr 1fr 1fr;
  grid-template-areas: "HEADER HEADER HEADER HEADER" "HP DMG Wounds-Scars Wounds-Scars" "Bloodied Bloodied Wounds-Scars Wounds-Scars" "Wounded Wounded Death-Saves Death-Saves" ". . Recovery-Dice RD-Used";
  grid-area: Hit-Points;
}

.sheet-hit-points > .sheet-sectionHeader {
  grid-row-start: 1;
}

.sheet-totalhp {
  grid-area:HP;
}

.sheet-damage {
  grid-area:DMG;
}

.sheet-wounds-scars {
  grid-area: Wounds-Scars;
}

.sheet-bloodied-at {
  grid-area: Bloodied;
}

.sheet-wounded-at {
  grid-area:Wounded;
}

.sheet-death-saves {
  grid-area: Death-Saves;
  display:grid;
  grid-template-rows:1fr 1fr;
}

.sheet-death-saves-label {
  grid-row-start:1;
  grid-row-end:3;
}

.sheet-ds-fails {
  grid-row-start:1;
  grid-row-end:1;
}

.sheet-ds-passes {
  grid-row-start:2;
  grid-row-end:2;
}

.sheet-recovery-dice {
  grid-area: Recovery-Dice;
}

.sheet-recovery-dice-used {
  grid-area: RD-Used;
}

.sheet-conditions {
	grid-area: Conditions;
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr);
  grid-auto-flow:column; 
  align-self: start;
  min-height: 50%;
}

.sheet-fatiguedConditionBox, .sheet-exhaustedConditionBox {
  grid-column-start:1;
  grid-column-end:2;
}

.sheet-bloodiedConditionBox, .sheet-woundedConditionBox, .sheet-encumbranceConditionBox {
  grid-column-start:2;
  grid-column-end:3;
}

.sheet-attacks {
	grid-area: Attacks;
  display:grid;
  grid-template-rows: 2.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.sheet-bcb {
  grid-column-start:1;
  grid-column-end:2;
}

.sheet-grapple {
  grid-column-start:2;
  grid-column-end:4;
  display:flex;
}

.sheet-grapple > label {
  position: relative;
  top:1em;
  margin-right: 5px;
}

.sheet-melee-attack {
  grid-column-start:1;
  grid-column-end:2;
}

.sheet-ranged-attack {
  grid-column-start:2;
  grid-column-end:3;
}



.sheet-unique-attacks {
  grid-column-start: 1;
  grid-column-end:4;
}

.sheet-attack-box > :nth-child(1) {
  flex-basis:60%;
  font-size:1em;
  text-align: left;
}

.sheet-attack-box > :nth-child(1) > :first-child {
  top:-.25em
}

.sheet-attack-box > :nth-child(2) {flex-basis:15%}
.sheet-attack-box > :nth-child(3) {flex-basis:12%}
.sheet-attack-box > :nth-child(4) {flex-basis:8%}
.sheet-attack-box > :nth-child(5) {flex-basis:15%}
.sheet-attack-box > :nth-child(6) {flex-basis:80%}


.sheet-armor {
	grid-area: Armor-Class;
  display:grid;
  grid-template-columns:1fr 2fr;
  grid-template-rows:2.1em;
  align-items:start;
  grid-row-gap:10px;
}

.sheet-total-armor {
  grid-column-start:1;
  grid-column-end:3;
}

.sheet-addition-wrapper {
  display:flex;
}

.sheet-addition-wrapper > .sheet-plus-label {
    flex-shrink: 0;
    padding-top: 1em;
}

.sheet-addition-wrapper > label > input {
  display:inline-block;
  width: 100%;
  position:relative;
}

.sheet-addition-wrapper  > label {
  display:inline-block;
  padding-bottom:.5em;
  margin-right:5px;
  font-size:.8em;
}

.sheet-touch-AC, .sheet-off-guard-AC {
  grid-column-start:1;
  grid-column-end:2;
}

.sheet-special-defenses {
    grid-row-end: span 2;
    padding:8px;
    align-self: stretch;
    grid-column-start: 2;
    grid-row-start: 3;
}

.sheet-special-defenses > textarea {
  width:100%;
  height:100%;
}

.sheet-topbar-table {
  display:flex;
  flex-wrap: wrap;
  padding-bottom:.5em;
}

.sheet-topbar-table > label > input {
  display:inline-block;
  width: 100%;
  position:relative;
}

.sheet-topbar-table > label {
  display:inline-block;
  padding-bottom:.5em;
  margin-right:5px;
  font-size:.8em;
}

.sheet-topbar-table > * {
  flex-grow:1;
  text-align: center;
}

.sheet-armor-box {
  grid-column-start:1;
  grid-column-end:3;
}

.sheet-armor-box > :nth-child(1) {
  flex-basis:45%;
  font-size:1em;
  text-align: left;
}

.sheet-armor-box > :nth-child(1) > :first-child {
  top:-.25em
}

.sheet-armor-box > :nth-child(2) {flex-basis:15%}
.sheet-armor-box > :nth-child(3) {flex-basis:15%}
.sheet-armor-box > :nth-child(4) {flex-basis:15%}
.sheet-armor-box > :nth-child(5) {flex-basis:12%}
.sheet-armor-box > :nth-child(6) {flex-basis:22%}
.sheet-armor-box > :nth-child(7) {flex-basis:15%}
.sheet-armor-box > :nth-child(8) {flex-basis:30%}

.sheet-feats {
  grid-area: Feats;
  display: grid;
  align-items: stretch;
  grid-template-rows: 2em 1fr;
}

.sheet-feats > .sheet-sectionHeader {
  grid-row-start: 1;
}

.sheet-feats > textarea { grid-row-start: 2}

.sheet-saving-throws {
  display: grid;
  grid-template-columns: minmax(0,0.6fr) [Name] minmax(0,0.8fr) [Tot] minmax(0,0.8fr) [Base] minmax(0,0.8fr) [Ability] minmax(0,.8fr) [Misc] minmax(0,.8fr) 3fr;
  grid-template-rows: minmax(0,2.5em) .5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . ." ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods";
  grid-area: Saving-Throws;
}

.sheet-saving-throws > .sheet-totSaveScore, .sheet-saving-throws > .sheet-saveMod, .sheet-saving-throws > .sheet-saveBase, .sheet-saving-throws > .sheet-miscMod {
  width: 90%;
  height: 90%;
}

.sheet-save1st {grid-column-start: 1}
.sheet-save2nd {grid-column-start: Name}
.sheet-save3rd {grid-column-start: Tot}
.sheet-save4th {grid-column-start: Base}
.sheet-save5th {grid-column-start: Ability}
.sheet-save6th {grid-column-start: Misc}

.sheet-conditional-save-mods {
  grid-area: Conditional-Mods;
  margin-left:5px;
}

.sheet-conditional-save-mods > textarea {
  height:100%;
  box-sizing:border-box;
  width:100%;
}

.sheet-special-abilities {
  grid-area: Special-Abilities;
  display: grid;
  align-items: stretch;
  grid-template-rows: 2em 1fr;
  min-height: 150px;
}

.sheet-special-abilities > .sheet-sectionHeader {
  grid-row-start: 1;
}

.sheet-special-abilities > textarea { grid-row-start: 2}

.sheet-abilities > .sheet-totSaveScore, .sheet-abilities > .sheet-saveMod, .sheet-abilities > .sheet-saveBase, .sheet-abilities > .sheet-tempSaveScore {
	width: 100%;
	height: 100%;
}

.sheet-ability1st {grid-column-start: 1}
.sheet-ability2nd {grid-column-start: Ability-Name}
.sheet-ability3rd {grid-column-start: Total-Score}
.sheet-ability4th {grid-column-start: Mod}
.sheet-ability5th {grid-column-start: Base-Score}
.sheet-ability6th {grid-column-start: Temp-Mod}

.sheet-skill {
	grid-column-start:Name;
}

.sheet-skills > input {
	grid-column-start:Value;
}

.sheet-sectionHeader {
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: black;
    color: white;
    height: fit-content;
    font-size: 1.5em;
    padding-bottom: 5px;
    width:100%;
}

.sheet-top-box {
    display: flex;
    flex-direction: column;
    padding:5px;
}

.sheet-top-box > :nth-child(2) {
  flex-grow:1;
}

.sheet-side-box {
    display: flex;
    flex-direction: row;
    padding:5px;
    flex-wrap:wrap;;
    max-height: 3em;
}

.sheet-side-box > :nth-child(1) {
  flex-basis:50%;
  max-height: 1.5em;
}

.sheet-side-box > :nth-child(2) {
  flex-grow:1;
  width:50%;
  flex-basis:20%;
  max-height: 1.5em;
}

.sheet-side-box > :nth-child(3) {
  width: 100%;
  font-size:.5em;
}



// Only to be used for override of roll20 things 

body {
  overflow:initial;
}

select {
  width:initial;
}