@import 'partial';

#container {
  width: 50%;
  margin: 0 auto;
}

div {
	display: block;
}

#full-sheet {

	// All grid layout thanks to https://grid.layoutit.com/ after I spent way too long trying to get it to work

  display: grid;
  grid-template-columns: 1.35fr 0.83fr 0.7fr 1.2fr;
  grid-template-rows: 0.7fr 0.8fr 1fr 0.6fr 0.6fr 2.4fr 1.2fr 0.4fr 1.4fr;
  grid-template-areas: "Header Header Header Portrait" "Abilities Skills Languages Portrait" "Abilities Skills Hit-Points Hit-Points" "Conditions Skills Hit-Points Hit-Points" "Conditions Skills Armor-Class Armor-Class" "Attacks Attacks Armor-Class Armor-Class" "Attacks Attacks Saving-Throws Saving-Throws" "Feats Feats Saving-Throws Saving-Throws" "Feats Feats Special-Abilities Special-Abilities";
}

#full-sheet > div, #leftWrapper > div, #rightWrapper > div {
	border: 2px dashed black;
	margin: 2px;
}
//

#header-fields {
	grid-area: Header;
	display:flex;
	flex-wrap:wrap
}

#header-fields > input {
	display:inline-block;
	width: 10em;
	position:relative;
	top: -3em;
}

#header-fields > label {
	display:inline-block;
	width: 10em;
	margin-right:.5em;
	padding-top:1.5em;
}

#portrait {
	grid-area: Portrait;
	// Proper height TODO, for now grid-row?
}

#abilities {
  display: grid;
  grid-template-columns: 0.6fr [Ability-Name] 0.8fr [Total-Score] 0.8fr [Mod] 1.8fr [Base-Score] 1fr [Temp-Mod] 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-area: Abilities;
}

#skills {
  display: grid;
  grid-template-columns: 0.5fr [Name] 1.5fr [Value] 1fr;
  grid-template-rows: 1fr 1fr;
	grid-area: Skills;
}

#languages {
	grid-area: Languages;
}

#hit-points {
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 1.1fr 1.7fr;
  grid-template-rows: 0.6fr 1fr 1fr 1.4fr;
  grid-template-areas: ". DMG Wounds-Scars Wounds-Scars" "Bloodied Bloodied Wounds-Scars Wounds-Scars" "Wounded Wounded Death-Saves Death-Saves" "Wounded Wounded Recovery-Dice RD-Used";
  grid-area: Hit-Points;
}

#conditions {
	grid-area: Conditions;
}

#attacks {
	grid-area: Attacks;
}

#armor {
	grid-area: Armor-Class;
}

#feats {
	grid-area: Feats;
}

#saving-throws {
  display: grid;
  grid-template-columns: 0.4fr [Name] 0.4fr [Tot] 0.7fr [Base] 1.1fr [Ability] 2.4fr [Misc] 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods" ". . . . . . Conditional-Mods";
  grid-area: Saving-Throws;
}

#special-abilities {
	grid-area: Special-Abilities;
}

$squareSize: 25px;

.totAbilityScore, .abilityMod, .abilityBase, .tempAbilityScore, .rollButton {
	width: $squareSize;
	height: $squareSize;
}

.ability1st {grid-column-start: 1}
.ability2nd {grid-column-start: Ability-Name}
.ability3rd {grid-column-start: Total-Score}
.ability4th {grid-column-start: Mod}
.ability5th {grid-column-start: Base-Score}
.ability6th {grid-column-start: Temp-Mod}

.skill {
	grid-column-start:Name;
}

.skills > input {
	grid-column-start:Value;
}